{% extends 'base.html' %}

{% block home_menu %}active{% endblock %}

{% block content %}
    <form action="{% url 'wordcount:api' %}" method="get" class="mt-5">
        <div class="form-group">
            <input type="text" class="form-control-lg" value="http://" name="url" />
        </div>

        <div class="form-group">
            {{ form.word }}
        </div>

        <div class="form-group mt-5">
            <button type="submit" class="btn btn-primary">Count it!</button>
        </div>
    </form>
{% endblock %}
